<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<% if @properties.empty? %>
<p><span>"Nenhum imóvel disponível"</span></p>
<% end %>

<% @properties.each do |p| %>
  <%= link_to p.title, p%>
  <%= p.description %>
  Região: <%= p.property_location.name%>
  Tipo: <%= p.property_type.name%>
  Quartos: <%= p.rooms %>
<% end %>

<%= link_to 'Cadastrar Imóvel', new_property_path %>
<%= link_to 'Cadastrar Tipo de Imóvel', new_property_type_path %>

