<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<% if @properties.empty? %>
<p><span>"Nenhum imóvel disponível"</span></p>
<% end %>

<% @properties.each do |p| %>
  <%= link_to p.title, p%>
  <%= p.description %>
  Região: <%= p.property_location.name%>
  Tipo: <%= p.property_type.name%>
  Quartos: <%= p.rooms %>
<% end %>

<div class="property_types">
<% @property_types.each do |p| %>
<%= link_to p.name, p%>
<% end %>
</div>

<div class="property_locations">
<% @property_locations.each do |p| %>
<%= p.name%>
<% end %>
</div>

<%= link_to 'Cadastrar Tipo de Imóvel', new_property_type_path %>
<%= link_to 'Cadastrar Região', new_property_location_path %>
<%= link_to 'Ver tipos de imóvel.', property_types_path %>


